body{
    background: url(back.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: 'Nunito', sans-serif;
    padding-top:2rem;
    font-family: 'Poppins', sans-serif;
  }
.container{
  max-width: 1200px;
}
.row{
  margin-bottom: 3rem;
}
  .card{
      border-radius: 12px;
      background: #fff;
      box-shadow: 0 8px 12px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 11px 19px 12px 19px;
    cursor: pointer;
  }
  
  .card:hover{
       transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(10, 10, 10, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  
  .card h3{
    font-weight: 800;
    padding-bottom: 1rem;
  }
  
  @media(max-width: 990px){
    .card{
      margin: 7px;
    }
    .card{
      padding: 6px 6px 6px 6px;
    }
  
  } 